<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrdkorea.mall.member.repository.MemberMapper">

    <resultMap id="MemberMap" type="com.hrdkorea.mall.member.domain.Member">
        <result property="custNo" column="cust_no"/>
        <result property="custName" column="cust_name"/>
        <result property="joinDate" column="join_date"/>
    </resultMap>

    <insert id="save">
        INSERT INTO member_tbl_02
        (cust_no, cust_name, phone, address, grade, city)
        VALUES (1 || LPAD(seq_member_tbl_02.nextval, 5, '0'),
        #{custName},#{phone}, #{address}, #{grade}, #{city})
    </insert>

    <select id="findAll" resultMap="MemberMap">

        SELECT *
        FROM member_tbl_02

    </select>

    <update id="modify">
        UPDATE member_tbl_02
        SET cust_no = #{custNo}, cust_name = #{custName}, phone = #{phone},
        address = #{address}, grade = #{grade}, city = #{city}
        WHERE cust_no = #{custNo}
    </update>

</mapper>